.btn-gap {
    margin-right: 12px; /* Gap between buttons */
  }
.mt{
    margin-top: 1rem;
}
.ml{
    margin-left: 1.5rem;
}

.ml{
    margin-left: 1.5rem;
}
.mt{
    margin-top: 2rem;
}
.btn-gap {
    margin-right: 12px; /* Gap between buttons */
  }