.div-body {
  background: #2196f330;
  position: fixed;
  left: 0px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-circle {
  position: fixed;
  text-align: center;
  width: 95px;
  width: 80px;
  height: 80px;
  border: 15px solid;
  border-color: #E6AF2E #1B998B;
  border-radius: 50%;
  -webkit-animation: spin 1.5s infinite;
  animation: spin 1.5s infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
