.add-test-devices {
    padding: 20px;
  }
  
  .go-back {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .form-section {
    margin-top: 20px;
  }
  
  .test-device-table th,
  .test-device-table td {
    text-align: left;
    padding: 10px;
  }
  
  .test-device-table th {
    background-color: #f9f9f9;
  }
  
  .test-device-table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  