::ng-deep .custom-meta .ant-card-meta-title {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    word-wrap: break-word;
  }

  .ng-star-inserted{
    flex-direction: column;
  }